
$primary-color: #00bcd4;
$secondary-color: #f44336;
$tertiary-color: #ff9800;
$quaternary-color: #9c27b0;

$background-color: #fafafa;

$text-primary-color: #212121;
$text-secondary-color: #757575;
$text-tertiary-color: #fafafa;

$border-color: #e0e0e0;
$border-radius: 4px;
$border-width: 1px;

// Input

$input-disabled-background-color: #fafafa;
$input-disabled-border-color: #e0e0e0;
$input-disabled-text-color: #757575;
$input-disabled-placeholder-color: #bdbdbd;
$input-disabled-icon-color: #bdbdbd;

$input-focus-text-color: #212121;
$input-focus-border-color: #00bcd4;
$input-focus-background-color: #fafafa;

$input-hover-background-color: #fafafa;
$input-hover-color: #212121;
$input-hover-border-color: #e0e0e0;

// Button
$button-disabled-background-color: #fafafa;
$button-disabled-border-color: #e0e0e0;
$button-disabled-text-color: #757575;

$button-active-background-color: #fafafa;
$button-active-border-color: #e0e0e0;
$button-active-text-color: #212121;



//SIZES
$mobile-width: 768px;