

.hotel-editor_delete {
	margin-left: 10px;
}
.accordion-body {
	.admin-editor-content-editor {
		textarea {

		}
		button {
			background-color: transparent;
			color: black;
		}
		margin-bottom: 20px;
	}
}