@import './../../../styles/variables.scss';

.admin-hotel-editor {
	position: relative;
	.admin-hotel-editor-create-btn {
		position: absolute;
		right: 0;
		transform: translateY( calc(-100% - 5px));
		button {
			color: white;
		}
	}
	.accordion {
		.accordion-header {
			button {
				background-color: transparent;
				border-bottom: 3px solid $secondary-color;
				color: black;
			}
		}
	}
}